/* Reset default margin and padding on all elements */
* {
  margin: 0;
  padding: 0;
}

/* Center-align the whole app */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #8ea7f9;
}

/* Header styling */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: rgb(186, 85, 85);
}

/* Add a small bar under the header */
.post-bar {
  background-color: #000000;
  height: 5px;
  width: 100%; /* Full width */
}

/* Styling for the post-type-button */
.post-type-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px; /* Reduced margin for spacing */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.post-type-button:hover {
  background-color: #0056b3; /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Styling for the post-form */
.post-form {
  background-color: #8ea7f9;
  padding: 35px;
  border: 3px solid #000000;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%; /* Full width */
  max-width: 400px; /* Limit maximum width */
}

/* Styling for form elements */
.form-group {
  margin-bottom: 20px;
  text-align: left; /* Align form labels to the left */
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Change color on hover */
}
